<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IDataService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://34.193.163.157/iot-home-data/DataService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDataService"
                contract="IoTDataService.IDataService" name="BasicHttpBinding_IDataService" />
        </client>
    </system.serviceModel>
</configuration>